/* AUTO PAGER */

.ncext_page_marker {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	font: normal normal bold 22px/50px Arial, serif;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
}

/* SCREENSHOT PREVIEWER */

.torrent_kep_ico {
	margin: 0px !important;
}

.ncext_preview {
	width: 100px;
	height: 100px;
	position: fixed;
	left: 0px; top: 0px;
	z-index: 9999;
	border: 8px solid #ffffff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #000000;
	text-align: center;
	background-color: #ffffff;
}

.ncext_preview span {
	font: normal normal normal 16px/100px Arial, serif;
}

/* SAVED SEARCHES */
#ncext_saved_searches {
	width: 510px;
	min-height: 100px;
	max-height: 500px;
	padding: 10px;
	position: fixed;
	right: -530px;
	top: 50px;
	z-index: 1001;
	background-color: #333;
	color: #ffffff;
	border-bottom-left-radius: 5px;
	opacity: 0.5;
}

#ncext_saved_searches_list {
	max-height: 500px;
	overflow: auto;
}

#ncext_saved_searches h5 {
	width: 80px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: -80px;
	font: normal normal normal 11px/30px Arial, serif;
	text-transform: uppercase;
	background-color: #333;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}

#ncext_saved_searches h5:hover {
	opacity: 1;
}

#ncext_saved_searches_overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px; left: 0px;
	z-index: 1000;
	background-color: #666;
	opacity: 0.6;
}

#ncext_saved_searches table {
	width: 100%;
	border: 1px solid #666;
	border-collapse:collapse;
}

#ncext_saved_searches table th, #ncext_saved_searches table td {
	padding: 2px;
	border: 1px solid #666;
}

#ncext_saved_searches table td {
	font: normal normal normal 12px/16px Arial, serif;
}

#ncext_saved_searches table tr:hover {
	background-color: #444;
	cursor: pointer;
}

#ncext_saved_searches table tr:first-child {
	background-color: transparent !important;
	cursor: default !important;
}

/* COVERS */
.ncext_cover {
	width: 51px;
	height: 51px;
	overflow: hidden;
}

.ncext_cover img {
	width: 100%;
}

/* SUBTITLE SEARCH */
#ncext_subtitle_results {
	width: 700px;
	position: fixed;
	left: 50%;
	top: -100%;
	z-index: 1002;
	padding: 10px;
	box-shadow: 0px 0px 10px 2px #000;
	border-radius: 5px;
	background-color: #fff;
	margin-left: -350px;
	-webkit-transition: height 0.3s ease-out;
	color: #333;
	font: normal normal bold 13px/16px Arial;
}

#ncext_subtitle_results img {
	width: 30px;
}


#ncext_subtitle_results h1 {
	margin: 0px 0px 10px 0px;
}

#ncext_subtitle_results a {
	color: #666;
	font: normal normal bold 10px/15px Verdana, Arial;
}

#ncext_subtitle_results a:hover {
	color: #89181e;
}

#ncext_subtitle_overlay {
	position: fixed;
	top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	background-color: #666;
	opacity: 0.6;
	z-index: 1001;
}